:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --main-background-color: #ffffff;
  --cover-footer-color: #2f303a;
  --black-color: #000000;
  --nav-button-color: #f5f4fa;
  --additional-color-first: #eeeeee;
  --additional-color-second: #ececec;
}


html {
  box-sizing: border-box;
}


body {
  background-color: var(--main-background-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif, 'Raleway', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.img
{
  display: block;
  max-width: 100%;
  height: auto;

}

section {
  padding-top: 94px;
  padding-bottom: 94px;
}



.address {
  font-style: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Основний колір тексту: #212121;*/

/* Другорядний колір тексту: #757575; */

/* Кольори емблеми #2196F3 #FFFFFF */

/*header  #FFFFFF */

/*title текст #FFFFFF title background #2F303A*/

/*Акцент #2196F3*/
/*Футер #2F303A*/

/* Логотип header */

.header {
  background-color: var(--main-background-color);
  border-bottom: 1px solid var(--additional-color-second);
}
.header-container {
  display: flex;
  align-items: center;
}

/* Навігація сайту */
.nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin: 93px;
  
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-nav .link {
  display: inline-block;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}
.site-nav .link.current {
  color: var(--accent-color);
}
  /* margin-right: 50px; */


/* .site-nav .item:last-child{
  margin-right: 0;
} */

/* .site-nav .item:not(:last-child){
  margin-right: 50px;
} */

.site-nav .item + .item{
  margin-left: 50px;
}
/* Контакти header */
.header-contacts {
  display: flex;
  margin-left: auto;
  
}
.header-contacts .item + .item {
  margin-left: 50px;
}

.logo-header {
  margin-right: 93px;

  font-size: 26px;
  line-height: 1.2;
}
.logo-footer {
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.logo-link {
  color: var(--accent-color);
  font-family: Raleway;
  text-decoration: none;
}

.logo-black {
  color: var(--black-color);
  font-family: Raleway;
}

/* Посилання */
.link {
  text-decoration: none;
}

.nav.link{
  display: block;
}
.nav.link,
.contact.link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contact.link {
  display: block;
  margin-left: auto;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  color: var(--title-text-color);
  letter-spacing: 0.02em;
}


/*Заголовок*/

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;

  background-color: var(--cover-footer-color);
}

.hero-title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 696px;

  font-size: 44px;
  font-weight: 900;
  line-height: 1.3;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-background-color);
}


/*Заголовки і описи*/
/* Переваги */
.features-item {
  width: 270px;  
}
/* .features-item:not(:last-child) {
  margin-right: 30px;
} */

.section.features .section.spec {
  background-color: var(--main-background-color);
  
}
.features-list {
  display: flex;
  width: 1170px;
  gap: 30px;
  
}
.features-name {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--primary-text-color);}
  
.features-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--title-text-color);
}
/* Спеціалізація */
.spec {
  padding-top: 0;
}
.spec-list {
  display: flex;
  gap: 30px;
}

.spec-head{
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* Команда */
.section.team {
  background-color: var(--nav-button-color);
}
.team-list {display: flex;
}

.team-head {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
}
.team-item {
  background-color: var(--main-background-color);
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-item:not(:last-child) {
  margin-right: 30px;
}
.team-container {
  padding: 30px 0;
  
  text-align: center;}

.name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.desc {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--title-text-color);
}

/*Button*/
button {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
.hero-button {
  display: inline-block;
  min-width: 216px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  
  font-family: inherit;
  color: var(--main-background-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}
/*Футер*/

.address-contact {
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
}

.address-place {
  font-size: 14px;
  line-height: 1.7;
  color: var(--main-background-color);
}

.header .link:hover,
.header .link:focus,
.footer .link:hover,
.footer .link:focus {
  color: var(--accent-color);
}

.footer {
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
  padding: 60px 0;

}
.footer-logo {
  display: inline-block;
  margin-bottom: 20px;

  color: var(--main-background-color);
  font-family: Raleway;
}

.address-item:not(:last-child) {
  margin-bottom: 10px;
}
/*Портфоліо*/


.project-button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.project-button {
  display: inline-block;
  padding: 6px 22px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color);
  background: var(--nav-button-color);
  border-radius: 4px;
  cursor: pointer;
}
.project-btn:not(:last-child) {
  margin-right: 8px;
}
.project-button:hover,
.project-button:focus {
  background-color: var(--accent-color);
  color: var(--main-background-color);
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
}
.project-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}
.project-item {
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;

  border: 1px solid #EEEEEE;
  background-color: var(--main-background-color)
}
.project-name {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}
.project-container {
  padding: 20px 24px;
  border-top: none;
}
.project-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}




